In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("train_set.csv")

In [3]:
data.head()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,Community Health,DPH,Public Health,250,"SEIU - Health Workers, Local 1021",Med Therapy & Auxiliary,Morgue Attendant,6725,12196,0,0.00,Calendar,16158
1,2013,4,Community Health,DPH,Public Health,39,"Stationary Engineers, Local 39",Journeyman Trade,Stationary Engineer,25058,74639,2820,12703.31,Fiscal,115784
2,2015,6,General Administration & Finance,ASR,Assessor/Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Appraisal & Taxation,Senior Real Property Appraiser,46108,100554,0,12424.50,Calendar,144708
3,2016,1,Public Protection,POL,Police,911,Police Officers' Association,Police Services,Sergeant 3,33369,140164,52754,13043.87,Fiscal,242323
4,2013,2,"Public Works, Transportation & Commerce",HHP,PUC Hetch Hetchy,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Information Systems,IS Engineer-Journey,28684,58813,0,7655.28,Calendar,82106

In [4]:
data.shape

(287836, 15)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287836 entries, 0 to 287835
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Year                287836 non-null  int64
 1   OGC                 287836 non-null  int64
 2   OG                  287836 non-null  object
 3   DC                  287836 non-null  object
 4   Dept                287836 non-null  object
 5   UC                  287836 non-null  int64
 6   Union               287800 non-null  object
 7   JF                  287798 non-null  object
 8   Job                 287836 non-null  object
 9   EI                  287836 non-null  int64
 10  Salaries            287836 non-null  int64
 11  Overtime            287836 non-null  int64
 12  H/D                 287836 non-null  float64
 13  YT                  287836 non-null  object
 14  Total_Compensation  287836 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 32.9+ MB

In [6]:
data.isnull().sum()

Year                   0
OGC                    0
OG                     0
DC                     0
Dept                   0
UC                     0
Union                 36
JF                    38
Job                    0
EI                     0
Salaries               0
Overtime               0
H/D                    0
YT                     0
Total_Compensation     0
dtype: int64

In [7]:
data = data.dropna()

In [8]:
data.isnull().sum()

Year                  0
OGC                   0
OG                    0
DC                    0
Dept                  0
UC                    0
Union                 0
JF                    0
Job                   0
EI                    0
Salaries              0
Overtime              0
H/D                   0
YT                    0
Total_Compensation    0
dtype: int64

In [9]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy = 'mean')
si

SimpleImputer()

In [10]:
data['H/D'] = si.fit_transform(data[['H/D']])

In [11]:
data.head()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,Community Health,DPH,Public Health,250,"SEIU - Health Workers, Local 1021",Med Therapy & Auxiliary,Morgue Attendant,6725,12196,0,0.00,Calendar,16158
1,2013,4,Community Health,DPH,Public Health,39,"Stationary Engineers, Local 39",Journeyman Trade,Stationary Engineer,25058,74639,2820,12703.31,Fiscal,115784
2,2015,6,General Administration & Finance,ASR,Assessor/Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Appraisal & Taxation,Senior Real Property Appraiser,46108,100554,0,12424.50,Calendar,144708
3,2016,1,Public Protection,POL,Police,911,Police Officers' Association,Police Services,Sergeant 3,33369,140164,52754,13043.87,Fiscal,242323
4,2013,2,"Public Works, Transportation & Commerce",HHP,PUC Hetch Hetchy,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Information Systems,IS Engineer-Journey,28684,58813,0,7655.28,Calendar,82106

In [12]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
mms

MinMaxScaler()

In [13]:
data[['Salaries', 'Overtime', 'H/D']] = mms.fit_transform(data[['Salaries', 'Overtime', 'H/D']])

In [14]:
data.head()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,Community Health,DPH,Public Health,250,"SEIU - Health Workers, Local 1021",Med Therapy & Auxiliary,Morgue Attendant,6725,0.138673,0.051364,0.118504,Calendar,16158
1,2013,4,Community Health,DPH,Public Health,39,"Stationary Engineers, Local 39",Journeyman Trade,Stationary Engineer,25058,0.245619,0.063133,0.630460,Fiscal,115784
2,2015,6,General Administration & Finance,ASR,Assessor/Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Appraisal & Taxation,Senior Real Property Appraiser,46108,0.290004,0.051364,0.619224,Calendar,144708
3,2016,1,Public Protection,POL,Police,911,Police Officers' Association,Police Services,Sergeant 3,33369,0.357844,0.271520,0.644185,Fiscal,242323
4,2013,2,"Public Works, Transportation & Commerce",HHP,PUC Hetch Hetchy,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Information Systems,IS Engineer-Journey,28684,0.218514,0.051364,0.427019,Calendar,82106

In [15]:
data = data[['Salaries','Overtime','H/D','YT','Total_Compensation']]
data.head()

   Salaries  Overtime       H/D        YT  Total_Compensation
0  0.138673  0.051364  0.118504  Calendar               16158
1  0.245619  0.063133  0.630460    Fiscal              115784
2  0.290004  0.051364  0.619224  Calendar              144708
3  0.357844  0.271520  0.644185    Fiscal              242323
4  0.218514  0.051364  0.427019  Calendar               82106

In [16]:
data['YT'] = data['YT'].apply(lambda x: 6 if x == 'Fiscal' else 12)

In [17]:
data.head()

   Salaries  Overtime       H/D  YT  Total_Compensation
0  0.138673  0.051364  0.118504  12               16158
1  0.245619  0.063133  0.630460   6              115784
2  0.290004  0.051364  0.619224  12              144708
3  0.357844  0.271520  0.644185   6              242323
4  0.218514  0.051364  0.427019  12               82106

In [18]:
data['Total_Years_of_service'] = data['YT'] - data['YT'].min()

In [19]:
data.head()

,Salaries,Overtime,H/D,YT,Total_Compensation,Total_Years_of_service
0,0.138673,0.051364,0.118504,12,16158,6
1,0.245619,0.063133,0.630460,6,115784,0
2,0.290004,0.051364,0.619224,12,144708,6
3,0.357844,0.271520,0.644185,6,242323,0
4,0.218514,0.051364,0.427019,12,82106,6

In [20]:
data['Average_Overtime_per_year'] = data['Overtime'] / data['YT']

In [21]:
data.head()

,Salaries,Overtime,H/D,YT,Total_Compensation,Total_Years_of_service,Average_Overtime_per_year
0,0.138673,0.051364,0.118504,12,16158,6,0.004280
1,0.245619,0.063133,0.630460,6,115784,0,0.010522
2,0.290004,0.051364,0.619224,12,144708,6,0.004280
3,0.357844,0.271520,0.644185,6,242323,0,0.045253
4,0.218514,0.051364,0.427019,12,82106,6,0.004280

In [22]:
data['H/D'].fillna(data['H/D'].mean(), inplace=True)
data['Benefits_cost'] = data['H/D'] * data['Salaries']

In [23]:
data.head()

,Salaries,Overtime,H/D,YT,Total_Compensation,Total_Years_of_service,Average_Overtime_per_year,Benefits_cost
0,0.138673,0.051364,0.118504,12,16158,6,0.004280,0.016433
1,0.245619,0.063133,0.630460,6,115784,0,0.010522,0.154853
2,0.290004,0.051364,0.619224,12,144708,6,0.004280,0.179577
3,0.357844,0.271520,0.644185,6,242323,0,0.045253,0.230518
4,0.218514,0.051364,0.427019,12,82106,6,0.004280,0.093310

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X = data[['Total_Years_of_service','Average_Overtime_per_year','Benefits_cost']]
y = data['Total_Compensation']

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr

LinearRegression()

In [28]:
lr.fit(X_train, y_train)

LinearRegression()

In [29]:
y_pred = lr.predict(X_test)

In [30]:
y_pred

array([121169.00134434, 127567.04087158, 148127.9769049 , ...,
        87444.32993093, 247722.08603029,  15845.94194933])

In [31]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [32]:
mse

307649095.84206337

In [33]:
r2

0.9325470745764828